$color-shades-80: #333;
$color-shades-70: rgba(0, 0, 0, 0.66);
$color-shades-60: #828282;
$color-shades-40: rgba(0, 0, 0, 0.25);
$color-shades-light: white;
$color-aux-a: #903ae0;
$color-aux-b: #19917b;
$color-aux-c: #ce3f1d;
$color-brand-primary: #f05123;

@mixin up-mobile {
  @media screen and (min-width: 640px) {
    @content;
  }
}

// from px to rem function
@function px-to-rem($px) {
  @return $px / 16px * 1rem;
}

// font face statement
@mixin font-face(
  $font-family,
  $font-path,
  $font-weight: normal,
  $font-style: normal
) {
  @font-face {
    font-family: $font-family;
    src: url($font-path + ".ttf");
    // src: url($font-path + '.ttf') format('truetype'),
    //   url($font-path + '.woff') format('woff'),
    //   url($font-path + '.woff2') format('woff2'),;
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-face(
  "GT Eesti Display",
  "/fonts/GT-Eesti-Display-Bold",
  700,
  normal
);
@include font-face(
  "GT Eesti Display",
  "/fonts/GT-Eesti-Display-Regular",
  400,
  normal
);
